[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "modelgrid"]
	path = modelgrid
	url = https://github.com/smaakage85/modelgrid
[submodule "recorder"]
	path = recorder
	url = https://github.com/smaakage85/recorder
[submodule "trimmer"]
	path = trimmer
	url = https://github.com/smaakage85/trimmer
